@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
    font-family: 'Open Sans', sans-serif;

}

.bg-1 {
    background-image: url('/assets/bg7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
    background-image: url('/assets/mountain2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    background-image: url('/assets/image3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center-div1 {
    padding: 10%;
    color: black;
}
.center-div {
    padding: 13%;
    color: black;
}

.btn.btn-success {
     padding: .4em 2em;
}
form{
    padding: 0.3em;
}

#login.title > span {
    font-size: .8em;
}

.border {
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.DSB h5{
 background-color: rgb(204, 170, 198);
 box-sizing: border-box;

}
.form-control{
    margin-bottom: 5px;
}